.heading {
    margin: 50px 0 20px 20px;
}

.container {
    margin: 50px  0;
}

.container .accordion-wrapper {
    padding: 0 20px;
}

.container .accordion {
    margin-bottom: 20px;
    cursor: pointer;
}

/**
* !styling the onclick - active class
**/

.container .accordion.active .accordion-heading {
    background: #f9f4f1;
    color: black;
}

.container .accordion.active .accordion-heading i {
    color: #fff;
    transform: rotate(180deg);
    transition: transform 0.2s 0.1s;
}

.container .accordion.active .accordion-content {
    display: block;
}

.container .accordion-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background: #fff;
    border: 2px solid #333;
    padding: 2px 10px;
}

.container .accordion-heading h3 {
    font-size: 15px;
}

.container .accordion-content {
    padding: 15px 20px;
    border: 2px solid #333;
    font-size: 18px;
    background-color: #fff;
    border-top: 0;
    display: none;
    animation: animate 0.2s linear backwards;
    transform-origin: top;
}

/**
* ?Using keyframe Animation
**/

@keyframes animate {
    0% {
        transform: scaleY(0);
    }
}

/**
* !styling the lets chat
**/

.letschat {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    background: #f9f4f1;
}

.letschatimage img {
    width: 300px;
}

.letschat-title {
    margin-top: 150px;
}

.letschat-title h4 {
    font-size: 50px;
}

@media (max-width: 767px) {
    .letschat {
        display: flex;
        flex-direction: column;
    }
    .letschatimage img {
        width: 100%;
    }
    .letschat-title h4 {
        font-size: 40px;
    }
}

@media (max-width: 1024px) {
    .letschat-title {
        margin-top: 50px;
        padding: 0 15px;
    }
}


@media (max-width: 767px) {
    .heading {
        font-size: 20px;
    }
}

@media (max-width: 1024px) {
    .summary-main {
        display: flex;
        flex-direction: column;
    }
    .summary-nav {
        margin-top: -25px;
    }
    .summary-navmenu {
        margin-top: -25px;
    }
}