@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

a {
    text-decoration: none; 
}

.center {  /**/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.portfoliocartlogue { /**/
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.portfoliocartlogue img { /**/
    width: 500px;
    border-radius: 10px;
}

.portfoliocartlogue p { 
    font-size: 25px;
    margin: auto;
}

.ballondeco a {
    display: flex;
    gap: 30px;
}

.eventdeco a {
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
}

.kiddiesdeco a {
    display: flex;
    gap: 30px;
}

/**
* !styling the lets chat
**/

.letschat {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0;
    background: #f9f4f1;
}

.letschatimage img {
    width: 300px;
}

.letschat-title {
    margin-top: 150px;
}

.letschat-title h4 {
    font-size: xx-large;
    margin: 0 10px 2px 10px;
}

.letschat-title p {
    margin: 0 10px 2px 10px;
}

@media (max-width: 767px) {
    .letschat {
        display: flex;
        flex-direction: column;
    }
    .letschatimage img {
        width: 100%;
    }
    .letschat-title h4 {
        font-size: xx-large;
        margin: 0 10px 2px 10px;
    }
    .portfoliocartlogue img {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .letschat-title {
        margin-top: 50px;
        padding: 0 15px;
    }
    .ballondeco a {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .eventdeco a {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .kiddiesdeco a {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .portfoliocartlogue img {
        width: 100%;
    }
}
